<h2>退会のお手続き</h2>
  <p>退会手続きをされますと、サービスがご利用いただけなくなります。<br>
     再度ご利用いただく場合には、新規のお手続きが必要になります。<br>
     本当に退会してよろしいですか？</p>

  <%= link_to "退会する", withdrawal_path %>
  <%= link_to "退会しない", root_path %>