<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>配送先編集</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <th><%= addresses.postal_code %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= addresses.address %></th>
          </tr>
          <tr>
            <th>宛名</th>
            <th><%= addresses.name %></th>
            <th><%= link_to "変更内容を保存", addresses_path, class: "btn-btn-sm btn-success" %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>